<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <div class="ui stacked segment">
      <h2 class="ui dividing header"><%= @task.title %></h2>
      
      <div class="clearfix line">
        <span class="title">Description</span>
        <span class="value"><%= @task.description %></span>
      </div>

      <div class="clearfix line">
        <span class="title">Duration</span>
        <span class="value"><%= @task.duration %> hours</span>
      </div>

      <div class="clearfix line">
        <span class="title">Start date</span>
        <span class="value"><%= @task.start_date %></span>
      </div>

      <div class="clearfix line">
        <span class="title">Due date</span>
        <span class="value"><%= @task.due_date %></span>
      </div>

      <div class="clearfix line">
        <span class="title">Finished?</span>
        <% if @task.finished %>
          <span class="value">Yes</span>
        <% else %>
          <span class="value">No</span>
        <% end %>
      </div>
    </div>  
  </div>  
</div>

<%= link_to 'Edit', edit_task_path(@task) %> 
<%= link_to 'Back', tasks_path %>
